## Sentiment Analysis Using NLP(Natural Language Processing) + Logistic Regression

Importing The Required Libraries

In [55]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
import re
from nltk import word_tokenize
from nltk.stem import PorterStemmer 
from nltk.corpus import stopwords
from sklearn.model_selection import train_test_split
import nltk

In [56]:
%%script false
nltk.download('stopwords')

Couldn't find program: 'false'

Loading The Dataset

In [57]:
dataset = pd.read_csv("Dataset/IMDB Dataset.csv")
dataset.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

Data Preprocessing

In [58]:
def prepare_output(text):
    if(text == "positive"):
        return 1
    else:
        return 0

In [59]:
dataset["sentiment"] = dataset["sentiment"].apply(prepare_output)
dataset.head()

                                              review  sentiment
0  One of the other reviewers has mentioned that ...          1
1  A wonderful little production. <br /><br />The...          1
2  I thought this was a wonderful way to spend ti...          1
3  Basically there's a family where a little boy ...          0
4  Petter Mattei's "Love in the Time of Money" is...          1

Remove Punctuations

In [60]:
def remove_punctuations(words):
    return re.sub(r'[^\w\s]', '', words)
dataset["review"] = dataset["review"].apply(remove_punctuations)
dataset.head()

                                              review  sentiment
0  One of the other reviewers has mentioned that ...          1
1  A wonderful little production br br The filmin...          1
2  I thought this was a wonderful way to spend ti...          1
3  Basically theres a family where a little boy J...          0
4  Petter Matteis Love in the Time of Money is a ...          1

Tokenization
* Spliting the sentences into words

In [61]:
dataset["review"] = dataset["review"].apply(word_tokenize)
dataset.head()

                                              review  sentiment
0  [One, of, the, other, reviewers, has, mentione...          1
1  [A, wonderful, little, production, br, br, The...          1
2  [I, thought, this, was, a, wonderful, way, to,...          1
3  [Basically, theres, a, family, where, a, littl...          0
4  [Petter, Matteis, Love, in, the, Time, of, Mon...          1

Stemming + Removing Stop Words
* Bringing All The Words Into Their Root Form

In [62]:
stemmer =PorterStemmer()
stop_words = set(stopwords.words('english'))
def stem_words(array):
    words_array = [w for w in array if not w.lower() in stop_words]
    return [stemmer.stem(word) for word in words_array]
dataset["review"] = dataset["review"].apply(stem_words)
dataset.head()

                                              review  sentiment
0  [one, review, mention, watch, 1, oz, episod, y...          1
1  [wonder, littl, product, br, br, film, techniq...          1
2  [thought, wonder, way, spend, time, hot, summe...          1
3  [basic, there, famili, littl, boy, jake, think...          0
4  [petter, mattei, love, time, money, visual, st...          1

In [65]:
x = dataset.drop("sentiment",axis=1)
y = dataset["review"]
X_train,Y_train,X_test,Y_test = train_test_split(x,y,test_size=0.2)